* {
    font-family: Helvetica, Arial, sans-serif;
}

pre, code {
    font-family: monospace;
    padding: 4px;
    color: darkslateblue;
    background-color: #e4e4e4;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
}
